* {
  margin: 0;
  padding: 0;
}

.bgimage {
  height: 100vh;
  background: url("/public/AvaniImage1.jpg");
  background-size: cover;
  position: relative;
}

.infoList {
  text-align: right;
  padding-top: 2vh;
  padding-right: 5vh;
  padding-bottom: 2vh;
  background-color: rgb(53, 73, 90);
}

.listItem {
  display: inline-block;
  text-decoration: none;
}

.link {
  padding: 2vh 2vh;
  gap: 8px;
  font-weight: 100;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  border-radius: 15px;
  text-decoration: none;
}

.link:hover {
  text-decoration-color: white;
  color: black;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.midSection {
  width: 50%;
  height: 90%;
  position: relative;
}

.homeText {
  color: white;
  position: absolute;
  text-align: center;
  margin-top: 20%;
  left: 20%;
  font-size: 5vh;
}

.commonSection {
  height: 100vh;
  background-color: white;
}

.aboutText {
  color: black;
  position: absolute;
  text-align: center;
  margin-top: 10%;
  right: 10%;
  font-size: 3vh;
}

.circular-image {
  width: 70%;
  height: auto;
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 15%;
}

.headersText1 {
  margin-top: 5%;
  margin-left: 10%;
  font-size: 5vh;
  text-align: center;
  color: rgb(177, 134, 26);
}

.headersText2 {
  margin-left: 10%;
  font-size: 4vh;
  text-align: center;
  color: rgb(177, 134, 26);
}

/* .flashcards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
  margin: 3%;
}

.flashcards {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2%;
  cursor: pointer;
  height: 75vh;
  width: 55vh;
}

.selected {
  border: 1px solid #e03131;
  background-color: #e03131;
  color: #fff;
  font-weight: bold;
  animation-name: fadeInOut;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.footer {
  align-self: center;
  margin: 10%;
}

@keyframes selected {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.flashcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 3%;
}

.flashcard {
  width: 53vh;
  height: 83vh;
  perspective: 1000px;
}

.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flashcard.selected .flashcard-inner {
  transform: rotateX(-180deg);
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #e7e7e7;
  background-color: rgb(202, 165, 71);
  color: rgb(53, 73, 90);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.8%;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  white-space: pre-line;
}

.flashcard-back {
  background-color: rgb(234, 198, 106);
  color: rgb(53, 73, 90);
  transform: rotateX(-180deg);
}

.flashcard-footer {
  position: absolute;
  bottom: 0;
  align-self: center;
  margin: 2%;
}
